@import '../../../sass/output.scss';

.header {
    @include flex();
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.playlist__wrapper {
    margin-bottom: 20px;

    img {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .title {
        text-align: center;
    }
}