@import '../../sass/output.scss';
@import '../../sass/components/cover-art';
@import '../../sass/components/tracks-list';

.playlist-header {
    display: flex;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba($color-neutral, .2);
}

.cover-art {
    margin-right: 15px;

    img {
        width: 150px;
        height: 150px;
    }
}

.playlist-info {

}