@import '../../../sass/output.scss';
@import '../../../sass/components/cover-art';

.tracks-wrapper {
    margin-top: 20px;
    margin-bottom: 40px;

    @include media-breakpoint-up(lg) {
        margin-top: 0;
    }
}

.track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 65px;
    padding: 0 10px 0 40px;
    @include transition(.2s ease background-color);

    &:hover {
        background-color: rgba($black, .2);

        .play_controls_icons {
            opacity: 1;
        }

        .fa-music, .fa-volume-up {
            opacity: 0;
            @include transition(.2s ease opacity);
        }
    }

    &--info {
        flex: 1;
        overflow: hidden;
    }

    &--name {
        font-size: 15px;
        line-height: 24px;
        letter-spacing: .5px;
        color: $white;
    }

    &--no_track {
        display: none;
    }

    &--artist {
        display: flex;
        align-items: center;
        line-height: 15px;

        a {
            @include dim-text;
            @include transition(.2s linear opacity);

            &:hover {
                opacity: 1;
                text-decoration: underline;
            }
        }
    }

    &--explicit_label {
        font-size: 11px;
        line-height: 16px;
        letter-spacing: .3px;
        display: inline-block;
        text-transform: uppercase;
        background-color: rgba($white, .8);
        font-weight: $weight-light;
        color: #000;
        border-radius: 2px;
        padding: 0 5px;
        margin-right: 5px;
    }

    &--duration {
        width: 60px;
        text-align: right;
    }

    &--cover_art_wrapper {
        margin-right: 10px;
        width: 56px;
    }

    &.currently-playing {
        .track--name, .track--duration, .play_controls_icons, .track--icons {
            color: $color-accent;
        }
    }

    &.no_preview {
        cursor: not-allowed;
    }
}

.play-icons {
    display: flex;
    align-items: center;
    position: absolute;
    left: 12px;
    height: 100%;

    i {
        position: absolute;
        font-size: 14px;
        color: $color-neutral;
    }

    .play_controls_icons {
        color: $white;
        opacity: 0;
        @include transition(.2s ease opacity);
    }
}