@import '../../../sass/output.scss';
@import '../../../sass/components/cover-art';

.tracks-wrapper {
    margin-top: 20px;
}

.track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 65px;
    padding: 0 10px 0 40px;
    @include transition(.2s ease background-color);

    &:hover {
        background-color: rgba($black, .2);

        .play_controls_icons {
            opacity: 1;
        }

        .fa-music, .fa-volume-up {
            opacity: 0;
            @include transition(.2s ease opacity);
        }
    }

    &__info {
        flex: 1;
        overflow: hidden;
    }

    &__name {
        font-size: 15px;
        line-height: 24px;
        letter-spacing: .5px;
        color: $white;
    }

    &__icons {

    }

    &__artist {
        display: flex;
        align-items: center;
        line-height: 15px;

        a {
            @include dim-text;
            @include transition(.2s linear opacity);

            &:hover {
                opacity: 1;
                text-decoration: underline;
            }
        }
    }

    &__explicit_label {
        font-size: 11px;
        line-height: 16px;
        letter-spacing: .3px;
        display: inline-block;
        text-transform: uppercase;
        background-color: rgba($white, .8);
        font-weight: $weight-light;
        color: #000;
        border-radius: 2px;
        padding: 0 5px;
        margin-right: 5px;
    }

    &__duration {
        width: 60px;
        text-align: right;
    }

    &__cover_art_wrapper {
        margin-right: 10px;
    }

    &.currently-playing {
        .track__name, .track__duration, .play_controls_icons, .track__icons {
            color: $color-accent;
        }
    }

    &.no_preview {
        &:hover {
            &::after {
                opacity: 1;
            }
        }

        &::after {
            @include transition(.2s ease opacity);
            @include linear-gradient(90deg, $color-accent-tertiary, $color-accent-secondary);
            content: 'This track does not have a preview, please log in to play full track.';
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 2px;
            color: $white;
            margin: 5px;
            opacity: 0;
        }
    }
}

.play-icons {
    display: flex;
    align-items: center;
    position: absolute;
    left: 12px;
    height: 100%;

    i {
        position: absolute;
        font-size: 14px;
        color: $color-neutral;
    }

    .play_controls_icons {
        color: $white;
        opacity: 0;
        @include transition(.2s ease opacity);
    }
}