<ol class="tracks-wrapper" *ngIf="tracksList">
    <li class="track" [ngClass]="{ 'currently-playing': track && track.currentlyPlaying, 'no_preview': track && !track.preview_url, 'track--no_track': !track }" *ngFor="let track of tracksList">
      <ng-container *ngIf="track">
        <div *ngIf="track && track.preview_url" class="play-icons">
            <i class="fas track--icons" [ngClass]="currentlyPlaying && track.currentlyPlaying ? 'fa-volume-up' : 'fa-music'"></i>
            <i (click)="currentlyPlaying && track.currentlyPlaying ? pauseTrack() : updateNowPlaying(track)" class="fas play_controls_icons" [ngClass]="track.currentlyPlaying && currentlyPlaying ? 'fa-pause' : 'fa-play'"></i>
        </div>
        <div *ngIf="track && !track.preview_url" class="play-icons no_preview">
            <i class="fas fa-ban"></i>
        </div>
        <div *ngIf="type == 'popular' && track.album.images" class="track--cover_art_wrapper">
          <div class="cover_art" [style.backgroundImage]="'url(' + track.album.images[0].url + ')'"></div>
        </div>
        <div class="track--info ellipsis-one-line">
          <div class="track--name ellipsis_one_line">{{ track.name }}</div>
          <div class="track--artist ellipsis_one_line">
            <span *ngIf="track.explicit" class="track--explicit_label">Explicit</span>
            <span *ngIf="type === 'full-detail'" class="ellipsis_one_line">
                <ng-container *ngFor="let artist of track.artists; let last = last;">
                  <a routerLink="/artist/{{ artist.id }}">{{ artist.name }}</a><ng-container *ngIf="!last">, </ng-container>
                </ng-container>
            </span>
            <span *ngIf="type === 'full-detail'" class="line_seperator">•</span>
            <span *ngIf="type === 'full-detail'" class="ellipsis_one_line">
                <a routerLink="/album/{{ track.album.id }}">{{ track.album.name }}</a>
            </span>
          </div>
        </div>
        <div class="track--duration">
          {{ convertDuration(track.duration_ms) }}
        </div>
      </ng-container>
    </li>
</ol>