<ol class="tracks-wrapper" *ngIf="tracks">
    <li class="track" *ngFor="let track of tracks" (click)="updateNowPlaying(track)">
      <div class="play-icons">
          <i class="fas fa-music"></i>
          <i class="fas fa-play"></i>
      </div>
      <div class="track__info ellipsis-one-line">
        <div class="track__name">{{ track.name }}</div>
        <div class="track__artist ellipsis_one_line">
          <span *ngIf="track.explicit" class="track__explicit_label">Explicit</span>
          <span class="ellipsis_one_line">
              <ng-container *ngFor="let artist of track.artists; let last = last;">
                <a routerLink="/artist/{{ artist.id }}">{{ artist.name }}</a><ng-container *ngIf="!last">, </ng-container>
              </ng-container>
          </span>
          <span class="line_seperator">•</span>
          <span class="ellipsis_one_line">
              <a>{{ track.album.name }}</a>
          </span>
        </div>
      </div>
      <div class="track-duration">
        {{ convertDuration(track.duration_ms) }}
      </div>
    </li>
</ol>