@import '../../sass/output.scss';

.sidebar-navigation {
    position: fixed;
    top: 0;
    left: 0;
    background: $color-sidebar;
    width: 230px;
    height: calc(100% - 90px);
    padding: 40px 20px 20px;
    color: $color-neutral;
}

.main_links {
    .link {
        @extend .dim-link;
        display: block;
        position: relative;

        &:hover {
            text-decoration: none;
        }

        &.active {
            opacity: 1;

            &::before {
                content: '';
                position: absolute;
                left: -20px;
                height: 100%;
                width: 4px;
                background: $color-accent;
            }
        }
    }
}

.logo {
    margin-bottom: 30px;

    img {
        width: 131px;
        height: 40px;
    }
}

.link-wrapper {
    @include flex();
    align-items: center;
    margin-bottom: 10px;
    padding: 5px 0;
    position: relative;

    .icon {
        display: flex;
        justify-content: center;
        width: 30px;
        margin-right: 10px;

        &> i {
            font-size: 22px;
        }
    }

    .link {
        margin-left: 20px;
        font-weight: $weight-medium;
    }

    &:hover {
        color: $white;
    }
}

.recently_played {
    margin-top: 30px;

    &--item_wrapper {
        margin-bottom: 15px;
    }

    &--title {
        @include dim-text;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: $weight-light;
    }

    &--track_name {
        margin-bottom: 3px;
    }

    &--artist_link {
        @extend .dim-link;
        font-size: 13px;
    }
}