<aside class="sidebar-navigation">
  <section class="main-links">
    <div class="link-wrapper active">
      <div class="icon">
        <i class="fas fa-home"></i>
      </div>
      <a class="link">Home</a>
    </div>
    <div class="link-wrapper">
      <div class="icon">
        <i class="fas fa-window-maximize"></i>
      </div>
      <a class="link">Browse</a>
    </div>
    <div class="link-wrapper">
      <div class="icon">
        <i class="fas fa-broadcast-tower"></i>
      </div>
      <a class="link">Radio</a>
    </div>
  </section>
</aside>