<aside class="sidebar-navigation">
  <div class="logo"><img src="../../assets/Spotify_Logo_RGB_White.png"></div>
  <section class="main_links">
    <a class="link" routerLink="/browse" routerLinkActive="active">
      <div class="link-wrapper">
        <div class="icon">
          <i class="fas fa-home"></i>
        </div>
          <span>Home</span>
      </div>
    </a>
    <a class="link" routerLink="/search" routerLinkActive="active">
      <div class="link-wrapper">
        <div class="icon">
          <i class="fas fa-search"></i>
        </div>
          <span>Search</span>
      </div>
    </a>
  </section>
</aside>