<section class="artist_content">
  <ng-container *ngIf="topTracks">
      <h1>Popular</h1>
      <sc-tracks-list [tracks]="topTracks" [type]="'popular'" [id]="artist.id"></sc-tracks-list>
  </ng-container>
  <ng-container *ngIf="albums.length > 0">
      <h1>Albums</h1>
      <sc-albums-list [albums]="albums"></sc-albums-list>
  </ng-container>
  <ng-container *ngIf="singles.length > 0">
      <h1>Singles and EPs</h1>
      <sc-albums-list [albums]="singles"></sc-albums-list>
  </ng-container>
  <ng-container *ngIf="compilations.length > 0">
      <h1>Compilations</h1>
      <sc-albums-list [albums]="compilations"></sc-albums-list>
  </ng-container>
  <ng-container *ngIf="appearsOn.length > 0">
      <h1>Appears On</h1>
      <sc-albums-list [albums]="appearsOn"></sc-albums-list>
  </ng-container>
</section>