@import '../../../sass/output.scss';
@import '../../../sass/components/cover-art';
@import '../../../sass/components/play-controls';

.album_wrapper {
    margin-bottom: 20px;
    text-align: center;
}

.album {

    &:hover {
        .cover_art {
            @include filter(brightness(.3));
            @include transition(.2s ease filter);
        }

        .player_controls--play, .player_controls--no_previews {
            display: block;
        }
    }
    
    &--cover_art {
        margin-bottom: 10px;
        position: relative;
    }

    &--name_wrapper {
        @extend .ellipsis_one_line;
    }

    &--name {
        color: $white;
        line-height: 20px;
        letter-spacing: .2px;
        font-weight: $weight-medium;
    }

    &--playback {
        @extend .flex-all-center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .cover_art {
        max-width: 100%;
        height: auto;
    }

    .player_controls--play, .player_controls--no_previews {
        display: none;
    }

    &.playing {
        
        .cover_art {
            @include filter(brightness(.3));
            @include transition(.2s ease filter);
        }

        .player_controls--play {
            display: block;
        }
    }
}

.artist {

    &--name {
        @extend .dim-link;
        line-height: 24px;

        &:hover {
            text-decoration: underline;
        }
    }
}