<article class="album_wrapper">
  <div class="album">
    <div class="album__cover_art">
        <img class="cover_art medium" [src]="album.images[0].url">
        <div class="album__playback">
          <div class="player_controls__play">
              <i class="fas fa-play"></i>
          </div>
        </div>
    </div>
    <div class="album__name_wrapper">
        <a class="album__name" routerLink="">{{ album.name }}</a>
    </div>
  </div>
  <div class="artist">
    <a class="artist__name" routerLink="/artist/{{ album.artists[0].id }}">{{ album.artists[0].name }}</a>
  </div>
</article>