<header [ngStyle]="artistImage" class="artist_header" *ngIf="artist">
  <span class="artist_header--followers">{{ artist.followers.total | number }} Monthly Listeners</span>
  <h1 class="artist_header--name large">{{ artist.name }}</h1>
  <div class="artist_header--controls">
    <button (click)="currentlyPlayingFlag && currentlyPlayingArtist ? pause() : play()" class="play">
      {{ currentlyPlayingFlag && currentlyPlayingArtist ? 'Pause' : 'Play' }}
    </button>
  </div>
  <nav class="nav">
    <ol>
      <li>
        <div>
            <a 
              routerLink="/artist/{{ artist.id }}" 
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">
              Overview
            </a>
        </div>
      </li>
      <li>
        <div>
            <a 
              [routerLink]="[{ outlets: { artist: ['related'] } }]" 
              routerLinkActive="active">
              Related Artists
            </a>
        </div>
      </li>
    </ol>
  </nav>
</header>
<router-outlet name="artist"></router-outlet>