@import '../../sass/output.scss';
@import '../../sass/components/buttons';
@import '../../sass/components/sub-nav';

.artist_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: 50%;
    position: relative;
    height: 400px;
    margin: -25px -40px 0;
    padding: 25px 40px 0;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include background-gradient(180deg, transparent -100%,#181818 100%);
    }

    &>* {
        position: relative;
    }

    &--followers {
        @include dim-text;
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &--controls {
        position: relative;
        margin-top: 20px;
    }

    &--name {
        margin: 10px 0;
    }
}

.artist_content {
    background-color: $color-main-semi-light;
    margin: 0 -40px -25px;
    padding: 20px 40px;
}