@import '../../sass/output.scss';
@import '../../sass/components/cover-art';
@import '../../sass/components/play-controls';

.playback {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    min-width: 650px;
    height: rem(90px);
    background: $color-main-light;
    border-top: 1px solid $black;
    padding: 0 15px;
}

.now_playing {
    display: flex;
    align-items: center;
    flex: 1;

    &--album_info, &--volume_controls {
        width: 30%;
    }

    &--album_info {
        display: flex;
        align-items: center;
        padding-right: 20px;
    }

    &--volume_controls {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        i {
            padding-right: 10px;
        }
    }
}

.playback_bar {
    @extend .flex-all-center;
    width: 100%;

    &--progress_bar_wrapper {
        width: 100%;
        height: 4px;
        background: $color-neutral-dark;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
    }

    &--progress_bar {
        width: 0;
        height: 4px;
        position: absolute;
        top: 0;
        left: 0;
        background: $color-neutral;

        &.no-transition {
            @include transition(none);
        }
    }

    &--time {
        font-size: 11px;
        line-height: 16px;
        letter-spacing: .2px;
        min-width: 40px;
        text-align: center;
    }
}

.player_controls_wrapper {
    @extend .flex-all-center;
    flex-direction: column;
    width: 40%;
}

.player_controls {
    i {
        &.on {
            color: $color-accent;
        }
    }
}

.currently_playing {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--track_name {
        color: $white;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: .2px;
    }

    &--artist_name {
        a {
            @extend .dim-link;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: .2px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.cover_art_wrapper {
    width: 60px;
    margin-right: 10px;
}

.volume {

    &--slider_wrapper {
        width: 140px;
        height: 4px;
        background: $color-neutral;
        border-radius: 3px;
    }

    &--slider_control {
        height: 100%;
        background: $color-accent;
        position: relative;
        border-radius: 3px;
        padding-left: 10px;
    }

    &--handle {
        content: '';
        position: absolute;
        right: 0;
        top: -4px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: $white;
    }
}