@import '../output.scss';

button {
    @extend .grow;
    @include border-radius(500px);
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $white;
    border: none;
    min-width: 130px;
    padding: 15px 30px;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &.play {
        background: $color-accent-dark;

        &:hover {
            background: $color-accent;
        }
    }

    &.no_previews {
        background: $color-neutral;
        color: $color-main;
        cursor: not-allowed;
    }

    &.transparent {
        background: none;
        color: $white;
    }
}