.cover_art {
    width: 100%;
    height: 100%;
    padding-top: 100%;
    background-size: cover;

    &.shadow {
        @include box-shadow(0 0 10px rgba(0, 0, 0, .1))
    }

    &.rounded {
        border-radius: 50% !important;
    }

    // width: 100%;

    // &.xs {
    //     max-width: 56px;
    //     max-height: 56px;
    // }

    // &.small {
    //     max-width: 100px;
    //     max-height: 100px;
    // }

    // &.medium {
    //     max-width: 160px;
    //     max-height: 160px;
    // }

    // &.large {
    //     max-width: 240px;
    //     max-height: 240px;
    // }
}