.cover_art {

    &.shadow {
        @include box-shadow(0 0 10px rgba(0, 0, 0, .1))
    }

    &.xs, &.small, &.medium, &.large {
        width: 100%;
    }

    &.xs {
        min-width: 56px;
        min-height: 56px;
    }

    &.small {
        min-width: 100px;
        min-height: 100px;
    }

    &.medium {
        min-width: 160px;
        min-height: 160px;
    }

    &.large {
        min-width: 240px;
        min-height: 240px;
    }
}