@import '../../../sass/output.scss';
@import '../../../sass/components/cover-art';

.genre {
    margin-bottom: 20px;
    text-align: center;

    &--link {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: .2ps;
        font-weight: $weight-bold;
        color: $white;
        text-transform: none;
        margin-top: 10px;
        display: inline-block;
    }
}