@import '../sass/output.scss';

main {
    height: calc(100vh - 90px);
    overflow-x: visible;
    overflow-y: scroll;
    margin-bottom: 90px;
    margin-left: 230px;
    padding: 25px 40px;
    // @include linear-gradient(155deg, rgba(56,56,56,1), rgba(0,0,0,1) 100%);
}

.background_gradient {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    z-index: -1;
    position: fixed;
    will-change: transform;
    opacity: 1;
}

.banner {
    @include linear-gradient(90deg, $color-accent-tertiary, $color-accent-secondary);
    position: fixed;
    bottom: 90px;
    left: 0;
    width: 100vw;
    height: 70px;

    &__preview {
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 1px;
        font-weight: $weight-light;
        color: $white;
    }
}