<section class="album_wrapper" *ngIf="tracks">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-xl-4">
        <header class="album_header">
          <div class="row">
            <div class="col-md-4 col-lg-4 col-xl-12">
                <sc-album-preview *ngIf="album" [album]="album"></sc-album-preview>
                <sc-album-preview *ngIf="playlist" [playlist]="playlist"></sc-album-preview>
            </div>
            <div class="col-md-8 col-lg-8 col-xl-12">
              <div class="album_header--info">
                <div class="album_header--album_info">
                    <h2>{{ album ? album.name : playlist.name }}</h2>
                    <p>
                      <span class="album_header--by">
                        By 
                      </span>
                      <a *ngIf="album" routerLink="/artist/{{ album.artists[0].id }}" class="album_header--owner">{{ album.artists[0].name }}</a>
                      <a *ngIf="playlist" routerLink="/playlist/{{ playlist.id }}" class="album_header--owner">{{ playlist?.owner.display_name }}</a>
                    </p>
                </div>
                <p class="album_header--description">{{ playlist?.description }}</p>
                <p class="album_header--amount">{{ tracks.length }} songs</p>
                <div class="album_header--controls">
                  <button *ngIf="hasPreviews" (click)="currentlyPlayingFlag && currentlyPlayingInTrackList ? pause() : play()" class="play">
                    {{ currentlyPlayingFlag && currentlyPlayingInTrackList ? 'Pause' : 'Play' }}
                  </button>
                  <button *ngIf="!hasPreviews" class="no_previews">
                    No Preview
                  </button>
                </div>
              </div>
            </div>
          </div>
        </header>
      </div>
      <div class="col-xs-12 col-xl-8">
          <sc-tracks-list [tracks]="tracks" [id]="album ? album.id : playlist.id" [type]="album ? 'less-detail' : 'full-detail'"></sc-tracks-list>
          <ng-container *ngIf="album">
            <p class="copyright" *ngFor="let copyright of album.copyrights">{{ copyright.text }}</p>
          </ng-container>
      </div>
    </div>
  </div>
</section>