@import '../../../sass/output.scss';
@import '../../../sass/components/cover-art';
@import '../../../sass/components/tracks-list';
@import '../../../sass/components/buttons';

.album_header {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba($color-neutral, .2);


    @include media-breakpoint-up(xl) {
        position: sticky;
        top: 0;
        text-align: center;
        border: none;
        padding: 0;
        max-width: 320px;
        margin: auto;
    }

    &__by {
        @include dim-text;
    }

    &__owner {
        color: $white;
    }

    &__description {
        @include dim-text;
        margin-bottom: 15px;
        line-height: 20px;
    }

    &__amount {
        @include dim-text;
        font-size: 11px;
        line-height: 16px;
        font-weight: $weight-light;
        letter-spacing: 1.6px;
        text-transform: uppercase;
    }

    &__controls {
        margin-top: 20px;

        @include media-breakpoint-up(lg) {
            order: -1;
            margin: 10px 0 20px;
        }
    }

    &__info {
        margin-left: 30px;

        @include media-breakpoint-up(lg) {
            display: flex;
            flex-direction: column;
            margin: 0;
        }
    }

    &__album_info {

        @include media-breakpoint-up(lg) {
            order: -2;
        }

        h2 {
            font-size: 34px;
            line-height: 42px;
        }
    }
}

.cover_art {
    margin-right: 30px;

    img {
        width: 150px;
        height: 150px;
    }
}

.album_info {

}

::ng-deep {
    .album__name, .artist {
        display: none;
    }
}