/* You can add global styles to this file, and also import other style files */

@import './base/reset';
@import "~bootstrap/scss/mixins/grid-framework";
@import "~bootstrap/scss/mixins/grid";
@import './output.scss';
@import './base/fonts';

body {
    background: $color-main-semi-light;
    color: $color-neutral;
    font-family: 'Roboto', sans-serif;
    font-weight: $weight-regular;
    letter-spacing: .2px;
}

h1, h2, h3 {
    font-weight: $weight-bold;
    color: $white;
    margin-bottom: 5px;
}

h1 {
    font-size: 40px;
    margin: 24px 0;

    &.large {
        font-size: 72px;
    }
}

h2 {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -.2px;
}

p, a, span {
    font-size: 14px;
}

p {
    margin-bottom: 10px;
}

a {
    color: $white;
    text-decoration: none;

    &:hover {
        color: inherit;
    }

    &.section__cta {
        color: $color-neutral;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: $weight-regular;
    }
}

.flex__wrapper {
    @include flex();
    flex-wrap: wrap;
}

.container-fluid {
    padding: 0;
}

.line_seperator {
    padding: 0 5px;
}

.center {
    text-align: center;
}